.planes {
    background-color: var(--background-ceniza-claro);
    padding-top: 30rem;
    padding-bottom: 10rem;
}

.planes__titulo {
    color: var(--fuente-ceniza-oscuro);
    font-size: 1.5rem;
    font-family: var(--montserrat);
    margin-bottom: 1.25rem;
    text-align: center;
    position: absolute;
    width: 102px;
    height: 24px;
    left: 460px;
    top: 2680px;
}

.planes__tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetas {
    display: flex;
    flex-direction: column;

    background-color: var(--background-blanco);

    width: 100%;
    max-width: 300px;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;
}

.tarjetas__titulo {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;

    padding: .75rem 0;

    margin-bottom: .5rem;

    border-bottom: 1px solid var(--background-azul-claro);
}

.tarjetas__contenido {
    padding: 0 15%;
}

.tarjetas__precio {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;

    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.tarjetas__texto {
    color: var(--fuente-ceniza-oscuro);
    line-height: 28px;
}

.tarjetas__boton {
    font-size: 1.2rem;
    font-weight: 700;

    width: 100%;

    align-self: center;

    padding: .75rem 2rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tarjetas--start {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 42px;
    top: 2780px;
}

.tarjetas--ultra {
    
    position: absolute;
    width: 350px;
    height: 375px;
    left: 362px;
    top: 2770px;
  
}


.tarjetas--mega {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 682px;
    top: 2780px;
}

.tarjetas__boton--start {
    color: var( --planes-card-start);
    border-color: var( --planes-card-start);
}
.titulo--start{
    color: var( --planes-card-start)
}

.tarjetas__boton--ultra {
    border-color: var( --planes-card-ultra);
    color: var(--planes-card-ultra);
}

.titulo--ultra {
    color: var(--planes-card-ultra)
}

.tarjetas__boton--mega {
    color: var(--planes-card-mega);
    border-color: var( --planes-card-mega);
}
.titulo--mega{
    color: var( --planes-card-mega)
}
.tarjetas__boton--start:hover{
    background-color: var( --planes-card-start);
    color: #ffffff;
}
.tarjetas__boton--ultra:hover{
    background-color: var( --planes-card-ultra);
    color: #ffffff;
}
.tarjetas__boton--mega:hover{
    background-color: var( --planes-card-mega);
    color: #ffffff;
}